/* Estilos para os cards */
.card {
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-body img {
  width: 100%;
  height: auto;
}

/* Estilos para a seção de filtros */
.filter-section {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-title {
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.filter-group {
  margin-bottom: 15px;
}

.filter-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.filter-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease;
}

.filter-select:focus {
  border-color: #000000;
  outline: none;
}

/* Estilos para a página de listagem de produtos */
.product-list-page {
  padding: 20px;
}

.product-list-page .container {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .product-list-page {
    display: flex;
    justify-content: center;
  }

  .product-list-page .container {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .product-list-page {
    padding: 10px;
  }

  .product-list-page .container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .filter-section {
    margin-top: 20px;
  }

  .filter-select {
    font-size: 12px;
  }
}

/* Estilos para os cards de produtos */
.product-card {
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card .card-body {
  padding: 15px;
  text-align: center;
}

.product-card .card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-card .card-text {
  font-size: 1rem;
  color: #666;
}

/* Navbar */
.navbar {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
  color: #333;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Estilos para o botão de mostrar/ocultar filtros */
.filter-toggle-button {
  width: 100%;
  margin-bottom: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.filter-toggle-button:hover {
  background-color: #333333;
}

/* Estilos para o botão de resetar filtros */
.filter-reset-button {
  width: 100%;
  padding: 10px;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Espaçamento acima do botão */
}

.filter-reset-button:hover {
  background-color: #333333; /* Fundo cinza escuro ao passar o mouse */
}

/* Estilos para a mensagem de nenhum produto encontrado */
.no-products-message {
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.no-products-message h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.no-products-message p {
  font-size: 1.2rem;
  color: #666;
}
